---
import Layout from '../layouts/Layout.astro';
import stickers from '../../../dist/rivet-stickers.json';
---

<Layout>
	<h1 class="rvt-ts-md">Rivet Stickers</h1>
	<ul class="docs-sticker-list rvt-m-top-md">
	{
		stickers.map((item) => (
			<li class="rvt-bg-white rvt-border-radius-md rvt-flex rvt-items-center rvt-p-all-xs">
				<rvt-sticker name={item} class="rvt-p-all-xxs" theme="neutral"></rvt-sticker>
				<span class="rvt-p-left-xs">{item}</span>
			</li>
		))
	}
	</ul>
</Layout>
