rvt-sticker:not(:defined) {
	--size-xs: 3rem;
	--size-sm: 4rem;
	--size-md: 5rem;
	--size-lg: 6rem;
	--size-xl: 8rem;
	--size: var(--size-md);
	display: inline-flex;
	height: var(--size);
	width: var(--size);
}

rvt-sticker:not(:defined)[size="xs"] {
	--size: var(--size-xs);
}

rvt-sticker:not(:defined)[size="sm"] {
	--size: var(--size-sm);
}

rvt-sticker:not(:defined)[size="md"] {
	--size: var(--size-md);
}

rvt-sticker:not(:defined)[size="lg"] {
	--size: var(--size-lg);
}

rvt-sticker:not(:defined)[size="xl"] {
	--size: var(--size-xl);
}
